<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid m-5 px-5 flex justify-center col-12 mx-auto">
        <div class="d-flex justify-content-between m-5">
            <h1>Howdy, {{user.first_name}}! <span class="text-success fs-5">Liked Shows : {{ user_likes[0]['likes']}} </span></h1>
            <div>
                <a href="/my_shows" class="btn btn-success btn-md">Posted Shows</a>
                <a href="/logout" class="btn btn-danger btn-md">Logout</a>
            </div>
        </div>
        <div class="m-5">
            <h4>All TV Shows</h4>
            <br>
            <table class="table table-striped table-bordered text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th><a href="/dashboard/0" class="link-light"> Title </a> </th>
                        <th><a href="/dashboard/1" class="link-light"> Network </a> </th> 
                        <th><a href="/dashboard/2" class="link-light"> Release Date </a> </th>
                        <th>Actions</th>
                        <th>Like!</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in all_shows %}
                    <tr>
                        <th> {{ show.title }} </th>
                        <th> {{ show.network }} </th>
                        <th> {{ show.release_date }} </th>
                        <th>
                            <div class="d-flex justify-content-between">
                                <a href="/shows/{{show.id}}" class="btn btn-sm btn-secondary"> Show</a>
                                {% if user.id == show.user_id %}
                                    <a href="/shows/{{show.id}}/edit" class="btn btn-sm btn-warning"> Edit</a>
                                    <a href="/shows/{{show.id}}/delete" class="btn btn-sm btn-danger"> Delete</a>
                                {% endif %}
                            </div>
                        </th>
                        <th>
                                {% if show.id in liked_shows_id %}
                                    <a href="/likes/{{ show.id }}/delete" class="btn btn-sm btn-primary">Unlike</a>
                                {% else %}
                                    {% if show.user_id != user.id%}
                                        <a href="/likes/{{ show.id }}/create" class="btn btn-sm btn-primary">Like</a>
                                    {% endif%}
                                {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <a href="/shows/new" class="btn btn-dark btn-lg">Create TV Show</a>
        </div>
    </div>


</body>
</html>