<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Great Number</title>
</head>
<body>
    <div class="container flex justify-center col-6 mx-auto text-center">
        <h3 class="p-3">Welcome to the Great Number Game</h3>
        <p class="pb-3">I am thinking of a number betwenn 1 and 100 <br> Take a guess </p>
        <form action="/guess" method="post">
            <input id="guess" type="text" name="guess" size="10px">
            <div class="p-3">
                <button type="submit" class="btn btn-primary" onclick="checkValue()">Guess</button>
            </div>
        </form>
        <div class="container flex justify-center col-6 mx-auto text-center">
            {% if 'guess' in session %}
                {% if session['count'] < 5 %}
                    {% if session['guess'] == session['number'] %}
                        <div class="box card m-lg-3 bg-success d-flex align-content-center justify-content-center">
                            <form action="/reset" method="POST">
                                <h3>Good Guess!</h3>
                                <h5 class="text-light">Attempt(s) = {{ session['count'] }}</h5>
                                <label for="first_name">First Name :</label>
                                <input type="text" name ="first_name">
                                <label for="lqst_name">Last Name  :</label>
                                <input type="text" name ="last_name">
                                <button type="submit" class="btn btn-outline-warning m-1">Play Again</button>
                            </form>
                        </div>
                    {% elif session['guess'] > session['number'] %}
                        <div class="box card m-lg-3 bg-primary d-flex align-content-center justify-content-center">
                            <h3>Too High</h3>
                        </div>
                    {% else %}
                        <div class="box card m-lg-3 bg-secondary d-flex align-content-center justify-content-center">
                            <h3>Too Low</h3>
                        </div>
                    {% endif%}
                {% else %}
                        <div class="box card m-lg-3 bg-danger d-flex align-content-center justify-content-center">
                            <form action="/reset" method="get">
                                <h3>You Lose</h3>
                                <h5 class="text-light">Attempt(s) = {{ session['count'] }} </h5>
                                <button type="submit" class="btn btn-outline-dark m-1">Try Again</button>
                            </form>
                        </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="container flex justify-center col-6 mx-auto text-center">
            <a href="/winners" class="btn btn-info">Winners Leaderboard </a>
        </div>
    </div>

    <script src="static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>